<header>
    {{#each logo}}
    <div>
       <h1>{{this}}</h1>
    </div>
    
    {{/each}}
    <nav>
        <ul>
            {{#with header}}
             <a href="/"><li>{{this.listOne}}</li></a>
             <a href="/servicos"><li>{{this.listTwo}}</li></a>
             <a href="/lojas"><li>{{this.listThree}}</li></a>
             <a href="/contato"><li>{{this.listFour}}</li></a>
             {{/with}}
        </ul>
    </nav>
</header>