<h1>Bem vindo ao Template Engine Handlebars</h1>
<h2>Meu nome é {{user.name}} {{user.surname}} e tenho {{user.age}} anos</h2>
{{#if auth}}
  <p>
     Bem vindo {{user.name}} {{user.surname}}, você foi autenticado com sucesso, clique no link para seguir <a href="/dashboard">Dashboard</a>
  </p>

  {{else}}
  <p>Que pena! Você não foi autenticado!</p>
{{/if}}
